<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename='index.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}"/>

    <title>Document</title>
</head>
<body>


    <div class="top"> Logo on Top  </div>
    <div class="contaner">
        <div class="product"> 
            <img src="{{url_for('static',filename='img1.jpg')}}" alt="">
        <div class="product_descreption">
            <h1 >Title</h1>
            <label >200 DA</label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae facere beatae repellat laudantium laboriosam optio illo. Officiis, cum. Similique minus deleniti placeat dolorem optio enim earum eius nam nesciunt vel!</p>
            <button  onclick="window.location.href='#orderForm'" > Buy Now </button>
        </div>
        </div>
        <div class="solution">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique corporis quas ducimus minus doloremque ipsam consequuntur provident accusantium, rem minima!</p>
            <button onclick="window.location.href='#orderForm'">Buy Now</button>
        </div>
        <div class="reviewCustomers"></div>

        <form class="orderForm" id="orderForm" action="/" method="POST">
            {{ form.csrf_token }}
            <label for="nom" >Nom</label> {{ form.nom }} 
            <label for="prenom" >Prenom</label> {{ form.prenom }}
            <label for="addr" >addr</label>{{ form.addr }}
            <label for="tel" >Phone</label>{{ form.tel }}
            <label for="qt" >Quantite</label>{{ form.qt}}
            <button id="btnSubmit"> Order</button>

        </form>
<!-- 
       
        {% if form.nom.errors %}
            <ul class="errors">
            {% for error in form.nom.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %} -->

    </div>
    
</body>
</html>